<span class="card-font">
  Apart from the programming ... sport is my big passion.<br>
  I try to stay in good shape, so I regulary go running, cycling and workout at the gym.<br>
  In recent years, I competed e.g. in the Kraków Independence Run, PZU Cracovia half-marathon, Business Run, Runmageddon Kraków.<br>
  About my bicycle rides check my <a href="https://www.strava.com/athletes/45537084" style="color: #ffffff"><b>Strava</b></a><br>
  Moreover, I love to play dart and make football travel to watch matches live on stadiums:<br>
  <ul>
    <li>19.05.2019:  AC Milan - Frosinone</li>
    <li>19.01.2020:  Hertha Berlin - Bayern Munchen</li>
    <li>many times:  Cracovia - ...</li>
  </ul>
</span>
