<div class='container'>
  <app-header></app-header><br>
    <div class="row">
      <div class="col-md-4">
        <app-card
          cardTitle='About'
          cardDescriptionFront="Know me better"
          cardImg="assets/about.jpg"
          footer="true"
          (chosenCard)="selectedCard($event)">
            <div body>
              <app-about></app-about>
            </div>
        </app-card>
      </div>

      <div class="col-md-4">
        <app-card
          cardTitle='Projects'
          cardDescriptionFront="See my projects"
          cardImg="assets/pro3.jpg"
          footer="false"
          (chosenCard)="selectedCard($event)">
          <div body>
            <app-projects></app-projects>
          </div>
        </app-card>
      </div>

      <div class="col-md-4">
        <app-card
          cardTitle='Hobbies'
          cardDescriptionFront="Free time activities"
          cardImg="assets/run3.jpg"
          footer="false"
          (chosenCard)="selectedCard($event)">
          <div body>
            <app-hobby></app-hobby>
          </div>
        </app-card>
      </div>
  </div>
</div>
<br>


