<span class="card-font">
  I want to constantly develop my programming skills and others.
  Therefore, in my free time I like to work at my own projects.<br>
  <br>Some of my project: <br>
  <ul>
    <li><a href="https://switchcasekam.github.io/cmentarz_podrzecze/" style="color: #ffffff"><b>Page of cemetary in Podrzecze</b></a></li>
    <li><a href="https://switchcasekam.github.io/home-page/" style="color: #ffffff"><b>Own home page</b></a></li>
    <li><a href="https://www.youtube.com/watch?v=heHvEr6plZs" style="color: #ffffff"><b>Tour de Pologne 2016 in Nowy Sącz</b></a></li>
    <li><a href="https://www.youtube.com/watch?v=tfsspZ6EpfQ" style="color: #ffffff"><b>Tour de Pologne 2016 in Nowy Sącz</b></a></li>
  </ul>
</span>
