<div class="card card-flip">
  <div class="card-front text-white bg-white">
      <div class="card-body text-center">
          <div class="picture-place-holder">
            <img src='{{cardImg}}' class="img-fluid">
          </div><br>
          <h3 class="card-title-front">{{ cardTitle }}</h3>
          <p class="card-text-front">{{ cardDescriptionFront }}</p>
      </div>
  </div>
  <div class="card-back bg-primary">
      <div class="card-body text-primary">
          <h3 class="card-title-back">{{ cardTitle }}</h3>
          <p class="card-text-back"><ng-content select="[body]"></ng-content></p>
          <div *ngIf="footer==='true'" class="card-footer">
              <div class="social-medias">
                <a href="https://www.facebook.com/people/Kamil-%C5%81%C4%99czycki/100004666694279" class="fa fa-facebook-official"></a>
                <a href="https://github.com/SwitchCaseKam" class="fa fa-github" ></a>
                <a href="mailto:kamil.leczycki.ns@gmail.com" class="fa fa-google"></a>
              </div>
          </div>
      </div>
  </div>
  <br>
</div>
