<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Kamil Łęczycki</a>
      <h6>home page</h6>
    </div>
</nav>

<div class="container">
  <div class="text-box">
    <br>
    Hello stranger!<br>
    You had to get lost on the Internet to get here or actually you made an effort to find me.<br>
    Anyway, welcome to my home page!<br>
    You can find here some information about me, my projects and my hobbies.<br>
  </div>
</div>
